<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>來嘉旅遊去</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
{% include 'main/menu.html' %}
{% if travel %}
  <h2>修改文章</h2>
  <form method="post" action="{% url 'travel:articleUpdate' travel.id %}">
{% else %}
  <h2>新增文章</h2>
{% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
{% endfor %}
  <form method="post" action="{% url 'travel:articleCreate' %}">
{% endif %}
 {% csrf_token %}
 {{ articleForm.as_p }}
 <input class="btn" type="submit" value="送出">
 <a class="btn" href="{% url 'travel:travel' %}">放棄</a>
</form>
</body>
</html>